:root {
  --color-gray: #282525;
  --color-primary-dark: #000;
  --color-primary-light: #760303;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px;
  padding: 0px 160px;
}

/*--------------------------------------------------*/
/* ---------------- Navigation Menu --------------- */
/*--------------------------------------------------*/
nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  font-size: 16px;
}

.nav-list {
  list-style-type: none;
  background-color: var(--color-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  padding: 16px 28px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  color: var(--color-primary-light);
}

.mobile-nav {
  display: none;
  justify-items: flex-end;
  align-items: flex-end;
  padding: 16px;
  padding-left: 36px;
  background-color: var(--color-gray);
  color: #fff;
}

.nav-list.display-flex {
  display: flex;
}

.nav-menu:hover {
  cursor: pointer;
  color: var(--color-primary-light);
}

/*--------------------------------------------------*/
/* ---------------- Profile Summary --------------- */
/*--------------------------------------------------*/
main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "summary"
    "about"
    "releases"
    "papers"
    "hobbies"
    "gallery"
    "blogs"
    "testimonials";
  gap: 1rem;
}

#home {
  padding: 60px 160px;
  grid-area: summary;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "summary dp";
  align-items: center;
  background-color: var(--color-primary-dark);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.summary {
  grid-area: summary;
}

.summary-title {
  font-size: 44px;
  text-align: center;
}

.summary-sub-title {
  font-size: 32px;
  text-align: center;
  margin: 24px 0px;
}

.summary-description {
  font-style: italic;
  text-align: center;
  font-size: 20px;
}

.profile-picture-wrapper {
  grid-area: dp;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-dark);
}

.profile-picture {
  height: 64vh;
}

.section-title {
  font-size: xx-large;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
}

/*--------------------------------------------------*/
/* ---------------- About-------------------------- */
/*--------------------------------------------------*/
#about {
  grid-area: about;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "about-title about-title about-title"
    "about-img about-img about-details";
}

.about-me-title {
  grid-area: about-title;
}

.about-title {
  font-size: 44px;
  margin-bottom: 16px;
}

.about-me-img-wrapper {
  grid-area: about-img;
}

.about-me-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me-details {
  grid-area: about-details;
  margin-left: 24px;
}

.about-me-desc {
  margin-top: 8px;
}

.read-more-btn {
  margin: auto;
  margin-top: 20px;
  width: 40%;
}

/*--------------------------------------------------*/
/* ---------------- Releases----------------------- */
/*--------------------------------------------------*/

#releases {
  display: grid;
  grid-area: releases;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "papers nobels patents";
  gap: 1rem;
}

.scientific-paper {
  grid-area: papers;
}

.nobel-nomination {
  grid-area: nobels;
}

.patent {
  grid-area: patents;
}

#releases div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 24px;
  color: white;
  background-color: black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.release-count {
  font-size: 48px;
  font-weight: bold;
}

.release-heading {
  margin-top: 8px;
  font-size: 28px;
  font-weight: bold;
}

/*--------------------------------------------------*/
/* ---------------- Paper Published --------------- */
/*--------------------------------------------------*/

#papers {
  display: grid;
  grid-area: papers;
  grid-template-columns: 0.6fr 1.4fr 1fr;
  grid-template-rows: 0.2fr 1.95fr 1.95fr 1.95fr;
  grid-template-areas:
    "papers-title papers-title papers-title"
    "paper-2 paper-1 paper-1"
    "paper-3 paper-1 paper-1"
    "paper-4 paper-1 paper-1";
  gap: 1rem;
}

#papers h1 {
  grid-area: papers-title;
}

.paper-1 {
  grid-area: paper-1;
}

.paper-2 {
  grid-area: paper-2;
}

.paper-3 {
  grid-area: paper-3;
}

.paper-4 {
  grid-area: paper-4;
}

.paper-5 {
  grid-area: paper-5;
}

.paper-wrapper {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.paper-wrapper:hover {
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.paper-1.paper-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "paper-img paper-details";
  gap: 1rem;
}

.paper-details {
  display: none;
}

.paper-1 .paper-img-wrapper {
  display: block;
  grid-area: paper-img;
}

.paper-1 .paper-sub-title {
  display: none;
}

.paper-img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.paper-1 .paper-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.paper-sub-title {
  font-size: medium;
  margin-top: 8px;
}

.paper-1 .paper-details {
  display: block;
  grid-area: paper-details;
}

.paper-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paper-title {
  font-size: x-larger;
  margin: 16px 0px;
}

.paper-desc {
  font-size: medium;
  margin-top: 8px;
}

.paper-btns {
  display: flex;
  align-items: center;
  margin: 12px 0px;
}

.read-btn {
  margin-left: 12px;
}

.btn {
  display: block;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: var(--color-primary-dark);
  color: white;
  border: none;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--color-gray);
}

.paper-publish-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 12px 0px;
}

.calendar-icon-wrapper {
  margin-right: 12px;
  padding-top: 4px;
}

.calendar-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

/*--------------------------------------------------*/
/* -------------------Hobbies---------------------- */
/*--------------------------------------------------*/
#hobbies {
  display: grid;
  grid-area: hobbies;
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-template-areas:
    "h-title h-title"
    "h-wrapper h-count";
  gap: 1rem;
}

.hobbies-title {
  grid-area: h-title;
}

.hobbies-count-wrapper {
  grid-area: h-count;
}

.hobbies-wrapper {
  grid-area: h-wrapper;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  border-radius: 48px;
  padding: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.hobby-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hobby-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 52px;
  border: 2px solid black;
  margin-bottom: 4px;
}

.hobbies-count-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-count {
  font-size: 100px;
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  padding: 12px;
  border-radius: 100px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.hobby-count-label {
  margin-top: 8px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/*--------------------------------------------------*/
/* -------------------Blogs---------------------- */
/*--------------------------------------------------*/
#gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2f 1f 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "g-title g-title g-title g-title"
    "gallery-1 gallery-2 gallery-3 gallery-4"
    "gallery-5 gallery-6 gallery-7 gallery-7"
    "gallery-8 gallery-8 gallery-7 gallery-7"
    "gallery-8 gallery-8 gallery-9 gallery-10"
    "gallery-11 gallery-11 gallery-12 gallery-12";
  gap: 1rem;
}

.gallery-title {
  grid-area: g-title;
}

.gallery-sub-title {
  grid-area: g-sub-title;
}

.gallery-1 {
  grid-area: gallery-1;
}

.gallery-2 {
  grid-area: gallery-2;
}

.gallery-3 {
  grid-area: gallery-3;
}

.gallery-4 {
  grid-area: gallery-4;
}

.gallery-5 {
  grid-area: gallery-5;
}

.gallery-6 {
  grid-area: gallery-6;
}

.gallery-7 {
  grid-area: gallery-7;
}

.gallery-8 {
  grid-area: gallery-8;
}

.gallery-9 {
  grid-area: gallery-9;
}

.gallery-10 {
  grid-area: gallery-10;
}

.gallery-11 {
  grid-area: gallery-11;
}

.gallery-12 {
  grid-area: gallery-12;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.gallery-wrapper {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.gallery-wrapper:hover {
  cursor: pointer;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  scale: 1.1;
  overflow: hidden;
}

/*--------------------------------------------------*/
/* -------------------Blogs---------------------- */
/*--------------------------------------------------*/
#blogs {
  display: grid;
  grid-area: blogs;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-template-areas:
    "blogs-title blogs-title blogs-title blogs-title"
    "blog-1 blog-2 blog-3 blog-4";
  gap: 0.75rem;
}

.blogs-title {
  grid-area: blogs-title;
}

.blog-1 {
  grid-area: blog-1;
}

.blog-2 {
  grid-area: blog-2;
}

.blog-3 {
  grid-area: blog-3;
}

.blog-4 {
  grid-area: blog-4;
}

.blog-wrapper {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  overflow: hidden;
}

.blog-wrapper:hover {
  cursor: pointer;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}

.blog-details {
  padding: 16px;
}

.blog-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.blog-title {
  text-align: left;
  text-transform: capitalize;
  font-size: large;
  margin-bottom: 12px;
}

.blog-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-date {
  text-align: end;
  font-size: small;
  font-style: italic;
  margin-top: 12px;
}

/*--------------------------------------------------*/
/* -------------------Testimonials----------------- */
/*--------------------------------------------------*/
#testimonials {
  grid-area: testimonials;
  display: grid;
  grid-template-areas:
    "t-title t-title t-title"
    "testimonial-1 testimonial-2 testimonial-3";
  gap: 1rem;
  margin-bottom: 60px;
}

.testimonials-title {
  grid-area: t-title;
}

.testimonial {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr;
  grid-template-areas:
    "t-message t-message t-message t-message"
    "t-img t-user t-user t-user";
  gap: 1rem;
  background-color: var(--color-gray);
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding: 16px;
}

.testimonial-message {
  grid-area: t-message;
  line-height: 28px;
}

.testimonial-img-wrapper {
  grid-area: t-img;
  align-items: end;
  justify-content: end;
}

.testimonial-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.testimonial-user {
  padding-top: 4px;
  grid-area: t-user;
}

.testimonial-level {
  margin-top: 4px;
  font-size: small;
  font-style: italic;
}

/*--------------------------------------------------*/
/* -------------------Testimonials----------------- */
/*--------------------------------------------------*/

footer.container {
  display: grid;
  grid-template-columns: 3fr 1.2fr 1.2fr 0.6fr;
  grid-template-rows: 1.75fr 0.25fr;
  grid-template-areas:
    "f-title f-project f-blog f-company"
    "f-social f-project f-blog f-company";
  margin-top: 20px;
  gap: 0.5rem;
  background-color: var(--color-primary-dark);
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

.footer-title {
  grid-area: f-title;
  margin-bottom: 16px;
  text-align: left;
}

.footer-social {
  grid-area: f-social;
  text-align: left;
}

.social-icon {
  height: 24px;
  width: 24px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(98, 97, 97, 0.4);
}

.social-icon:hover {
  box-shadow: 4px 4px 8px rgba(98, 97, 97, 0.4);
  cursor: pointer;
}

.socials-wrapper {
  list-style-type: none;
  height: 36px;
}

.socials-wrapper li {
  display: inline-block;
  margin: 8px;
}

.footer-projects {
  grid-area: f-project;
}

.footer-blogs {
  grid-area: f-blog;
}

.footer-company {
  grid-area: f-company;
}

.footer-desc {
  margin: 16px 0px;
  padding-right: 32px;
}

.footer-right-list {
  display: inline-block;
  margin-top: 0px;
  height: 132px;
  vertical-align: bottom;
}

.footer-right-title {
  font-size: 20px;
  margin-bottom: 12px;
}

.footer-list {
  margin-right: 12px;
  list-style-type: none;
}

.footer-list-item {
  margin-top: 8px;
}

.footer-list-item:hover {
  color: var(--color-primary-light);
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  #about {
    grid-template-areas:
      "about-title about-title "
      "about-img about-details ";
  }

  .keywords-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0px 120px;
  }

  #home {
    padding: 60px 120px;
  }

  .profile-picture {
    height: 52vh;
  }

  .summary-title {
    font-size: 36px;
  }

  .summary-sub-title {
    font-size: 28px;
  }

  .summary-description {
    font-size: 16px;
  }

  .release-count {
    font-size: 44px;
  }

  .release-heading {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .about-title {
    font-size: 36px;
    margin-bottom: 12px;
  }

  #papers {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.8fr 1fr 1fr;
    grid-template-areas:
      "papers-title papers-title papers-title"
      "paper-1 paper-1 paper-1"
      "paper-1 paper-1 paper-1"
      "paper-2 paper-3 paper-4";
  }

  #blogs {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.5fr;
    grid-template-areas:
      "blogs-title blogs-title"
      "blog-1 blog-2"
      "blog-3 blog-4";
    gap: 1rem;
  }

  .blog-img {
    height: 260px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-list li {
    padding: 16px 20px;
  }

  .container {
    padding: 0px 100px;
  }

  #home {
    padding: 60px 100px;
  }

  #releases div {
    padding: 12px;
  }

  #hobbies {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "h-title"
      "h-wrapper";
    gap: 1rem;
  }

  .hobbies-count-wrapper {
    display: none;
  }

  #testimonials {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "t-title"
      "testimonial-1"
      "testimonial-2"
      "testimonial-3";
    gap: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .profile-picture {
    height: 40vh;
  }

  #papers {
    grid-template-rows: 0.2fr 1.8fr 1fr 0.5fr;
  }
}

@media only screen and (max-width: 800px) {
  .nav-list li {
    padding: 16px 12px;
  }

  .container {
    padding: 0px 60px;
  }

  #home {
    padding: 60px 60px;
  }

  .section-title {
    font-size: 28px;
    margin-top: 12px;
  }

  .summary-title {
    font-size: 24px;
  }

  .summary-sub-title {
    font-size: 24px;
  }

  .summary-description {
    font-size: 14px;
  }

  .about-title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .about-me-desc {
    font-size: small;
    margin-top: 4px;
  }

  #releases {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "papers papers"
      "nobels patents";
  }

  #papers {
    grid-template-rows: 0.2fr 1.8fr 1fr 0.5fr;
  }

  .paper-1.paper-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "paper-img"
      "paper-details";
    gap: 1rem;
  }

  .paper-desc-2 {
    display: none;
  }

  .hobbies-wrapper {
    gap: 0.5rem;
    border-radius: 20px;
    padding: 12px;
  }

  .hobby-icon {
    width: 80px;
    height: 80px;
  }

  #blogs {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "blogs-title"
      "blog-1"
      "blog-2"
      "blog-3"
      "blog-4";
    gap: 1rem;
  }

  .blog-img {
    height: 320px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-list {
    display: none;
    flex-direction: column;
  }

  .nav-list li {
    padding: 12px 48px;
  }

  .mobile-nav {
    display: flex;
  }

  .container {
    padding: 0px 36px;
  }

  #home {
    padding: 30px 36px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "dp"
      "summary";
  }

  .section-title {
    font-size: 20px;
    margin-top: 12px;
  }

  .summary-title {
    font-size: 28px;
  }

  .summary-sub-title {
    font-size: 20px;
  }

  .profile-picture {
    height: 32vh;
  }

  #about {
    gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "about-title"
      "about-img"
      "about-details";
  }

  .about-title {
    font-size: 24px;
  }

  .about-me-details {
    margin-left: 0px;
  }

  #releases {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "papers"
      "nobels"
      "patents";
  }

  #papers {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "papers-title"
      "paper-1"
      "paper-1"
      "paper-2"
      "paper-3"
      "paper-4";
  }

  .hobbies-wrapper {
    gap: 1rem;
    border-radius: 20px;
    padding: 12px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .hobby-icon {
    width: 100px;
    height: 100px;
  }

  #gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "g-title g-title"
      "gallery-1 gallery-2"
      "gallery-3 gallery-4"
      "gallery-5 gallery-6"
      "gallery-7 gallery-8"
      "gallery-9 gallery-10"
      "gallery-11 gallery-12";
    gap: 0.5rem;
  }

  footer.container {
    padding: 24px 40px;
    gap: 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.1fr auto auto auto;
    grid-template-areas:
      "f-title"
      "f-social"
      "f-project"
      "f-blog"
      "f-company";
    grid-gap: 1rem;
  }

  footer .socials-wrapper {
    justify-content: start;
  }

  .footer-desc {
    margin-bottom: 0px;
  }

  .footer-title {
    margin-bottom: 0px;
  }

  .footer-right-title {
    font-size: 16px;
  }

  .footer-list-item {
    font-size: 14px;
  }
}