:root {
  --color-primary-light: #13a6b3;
  --color-primary: #174175;
  --color-primary-dark: #0b2d57;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: auto;
  padding: 20px 120px;
}

/* Remove this later */
img {
  width: 100px;
  height: 100px;
}

/*--------------------------------------------------*/
/* ---------------- Navigation Menu --------------- */
/*--------------------------------------------------*/
nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

.nav-list {
  list-style-type: none;
  background-color: var(--color-primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  padding: 16px 28px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
}

.nav-list li a:hover {
  color: var(--color-primary-light);
}

.mobile-nav {
  display: none;
  justify-items: flex-end;
  align-items: flex-end;
  padding: 12px;
  background-color: var(--color-primary-dark);
}

.nav-list.display-flex {
  display: flex;
}

.nav-menu {
  width: 32px;
  height: 32px;
  padding: 2px;
}

.nav-menu:hover {
  cursor: pointer;
  width: 36px;
  height: 36px;
  padding: 0px;
}

/*--------------------------------------------------*/
/* ---------------- Profile Summary --------------- */
/*--------------------------------------------------*/
main {
  margin-top: 80px;
  padding: 0px 160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "summary summary dp"
    "a-title a-title a-title"
    "a-img abt-me abt-me"
    "releases releases releases"
    "papers papers papers"
    "hobbies hobbies hobbies"
    "gallery gallery gallery"
    "blogs blogs blogs";
  gap: 1rem;
}

#home {
  grid-area: summary;
}
.profile-picture-wrapper {
  grid-area: dp;
}
.about-me-title {
  grid-area: a-title;
}
.about-me-img-wrapper {
  grid-area: a-img;
}
.about-me-details {
  grid-area: abt-me;
}

.section-title {
  font-size: x-large;
  text-transform: uppercase;
  text-align: center;
}

/*--------------------------------------------------*/
/* ---------------- Releases----------------------- */
/*--------------------------------------------------*/

#releases {
  display: grid;
  grid-area: releases;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "papers nobels patents";
  gap: 1rem;
}

.scientific-paper {
  grid-area: papers;
}

.nobel-nomination {
  grid-area: nobels;
}
.patent {
  grid-area: patents;
}
#releases div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 24px;
  color: white;
  background-color: black;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
.release-count {
  font-size: 48px;
  font-weight: bold;
}
.release-heading {
  margin-top: 8px;
  font-size: 28px;
  font-weight: bold;
}
/*--------------------------------------------------*/
/* ---------------- Paper Published --------------- */
/*--------------------------------------------------*/

#papers {
  display: grid;
  grid-area: papers;
  grid-template-columns: 0.6fr 1.4fr 1fr;
  grid-template-rows: 0.2fr 1.95fr 1.95fr 1.95fr 1.95fr;
  grid-template-areas:
    "papers-title papers-title papers-title"
    "paper-2 paper-1 paper-1"
    "paper-3 paper-1 paper-1"
    "paper-4 paper-1 paper-1"
    "paper-5 paper-1 paper-1";
  gap: 1rem;
}

#papers h1 {
  grid-area: papers-title;
}

.paper-1 {
  grid-area: paper-1;
}

.paper-2 {
  grid-area: paper-2;
}

.paper-3 {
  grid-area: paper-3;
}

.paper-4 {
  grid-area: paper-4;
}

.paper-5 {
  grid-area: paper-5;
}

.paper-wrapper {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.paper-wrapper:hover {
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.paper-1.paper-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "paper-img paper-details";
  gap: 1rem;
}

.paper-details {
  display: none;
}

.paper-1 .paper-img-wrapper {
  display: block;
  grid-area: paper-img;
}

.paper-1 .paper-sub-title {
  display: none;
}

.paper-img {
  width: 100%;
  object-fit: cover;
}

.paper-1 .paper-img {
  height: 100%;
  object-fit: fill;
}

.paper-sub-title {
  font-size: medium;
  margin-top: 8px;
}

.paper-1 .paper-details {
  display: block;
  grid-area: paper-details;
}

.paper-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paper-title {
  font-size: x-larger;
  margin: 16px 0px;
}

.paper-desc {
  font-size: medium;
}

.paper-btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 12px 0px;
}

.btn {
  display: block;
  padding: 10px 16px;
  border-radius: 8px;
  background-color: var(--color-primary-dark);
  color: white;
  border: none;
  text-align: center;
  margin: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  background-color: var(--color-primary-light);
  color: black;
}

.paper-publish-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 12px 0px;
}
.calendar-icon-wrapper {
  margin-right: 12px;
  padding-top: 4px;
}
.calendar-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

/*--------------------------------------------------*/
/* -------------------Hobbies---------------------- */
/*--------------------------------------------------*/
#hobbies {
  display: grid;
  grid-area: hobbies;
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-template-areas:
    "h-title h-title"
    "h-wrapper h-count";
  gap: 1rem;
}

.hobbies-title {
  grid-area: h-title;
}

.hobbies-count-wrapper {
  grid-area: h-count;
}

.hobbies-wrapper {
  grid-area: h-wrapper;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  border: 1px solid black;
  border-radius: 48px;
  padding: 16px;
}
.hobby-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hobby-icon-wrapper {
  border-radius: 60px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.hobby-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.hobbies-count-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-count {
  font-size: 120px;
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  padding: 12px;
  border: 3px solid black;
  border-radius: 100px;
}

.hobby-count-label {
  margin-top: 8px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/*--------------------------------------------------*/
/* -------------------Blogs---------------------- */
/*--------------------------------------------------*/
#gallery {
  grid-area: gallery;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: .2f 3f 1fr 1fr 1fr;
  grid-template-areas: "g-title g-title g-title g-title g-title g-title"
  "g-sub-title g-sub-title gallery-1 gallery-1 gallery-1 gallery-1"
  "gallery-2 gallery-3 gallery-4 gallery-5 gallery-6 gallery-7"
  "gallery-8 gallery-9 gallery-10 gallery-11 gallery-12 gallery-13";
  gap: 1rem;
}
.gallery-title{
  grid-area: g-title;
}

.gallery-sub-title{
  grid-area: g-sub-title;
}
.gallery-1 {
  grid-area: gallery-1;
  height: 600px;
  border: 1px solid red;
}
.gallery-2 {
  grid-area: gallery-2;
}
.gallery-3 {
  grid-area: gallery-3;
}
.gallery-4 {
  grid-area: gallery-4;
}
.gallery-5 {
  grid-area: gallery-5;
}
.gallery-6 {
  grid-area: gallery-6;
}
.gallery-7 {
  grid-area: gallery-7;
}
.gallery-8 {
  grid-area: gallery-8;
}
.gallery-9 {
  grid-area: gallery-9;
}
.gallery-10 {
  grid-area: gallery-10;
}
.gallery-11 {
  grid-area: gallery-11;
}
.gallery-12 {
  grid-area: gallery-12;
}
.gallery-13 {
  grid-area: gallery-13;
}

.gallery-wrapper .gallery-img-desc{
  display: none;
}
.gallery-wrapper.gallery-1 .gallery-img-desc{
  display: block;
}
/*--------------------------------------------------*/
/* -------------------Blogs---------------------- */
/*--------------------------------------------------*/
#blogs {
  grid-area: blogs;
}